<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.prince.crm.mapper.RolePermissionMapper" >
  <resultMap id="BaseResultMap" type="com.prince.crm.domain.RolePermission" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="r_id" property="rId" jdbcType="BIGINT" />
    <result column="p_id" property="pId" jdbcType="BIGINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from role_permission
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.prince.crm.domain.RolePermission" useGeneratedKeys="true" keyProperty="id" >
    insert into role_permission (r_id, p_id)
    values (#{rId}, #{pId})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.prince.crm.domain.RolePermission" >
    update role_permission
    set r_id = #{rId},
      p_id = #{pId}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, r_id, p_id
    from role_permission
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, r_id, p_id
    from role_permission
  </select>
</mapper>